

<%= form_with(model:[@article, @comment],local: true)do |f|%>
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                height="40" />
              <div  class="form-outline w-100">
                  <%= f.text_area :message, rows:"4",class:'form-control commentbox',placeholder:"Message"%>
              </div>
            </div>
            <div class="float-end mt-2 pt-1">
             <div class="float-end mt-2 pt-1">
              <%= f.submit "Post Comment", class: "btn btn-primary btn-s" %>
              
            </div>
            </div>
          </div>
<%end%>